<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Mail Catcher</label>
    <label lang="en">Mail Catcher</label>
    <version>1.2.0</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://github.com/FriendsOfShopware/FroshMailCatcher</link>
    <author>Friends of Shopware</author>
    <changelog version="1.0.0">
        <changes lang="en">
            <![CDATA[
                <h4>Release 🎉</h4>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="en">
            <![CDATA[
                Fixed scrolling
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="en">
            <![CDATA[
                Attachment Support
            ]]>
        </changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="en">
            <![CDATA[
                Now part of Frosh community!
            ]]>
        </changes>
    </changelog>
</plugin>
